body{
    margin: 0;
}

.header{
    width: 100%;
    min-width: 100%;
    height: 75px;
    background-color:#D9D9D9;
    
}

.flex-container {
    display: flex;
   
  }
  .flex-container > div {
    
    margin: 10px;
    padding: 20px;
    
  }


  .flex-Container {
    display: flex;
    flex-direction: row;
    
    font-size: 30px;
    text-align: center;
  }
  
  .flex-item-left {
   
    padding: 10px;
    flex: 50%;
  }
  
  .flex-item-right {
   
    padding: 10px;
    flex: 50%;
  }
  
  @media (max-width: 900px) {
    .flex-Container {
      flex-direction: column;
    }
    .flex-item-left {
      flex: 50%;
      max-width: 100%;
    }
    .flex-item-right {
      flex: 50%;
    max-width: 100%;
    }
  }

  @media (max-width: 600px) {
    .flex-Container {
      flex-direction: column;
    }
    .flex-item-left {
      flex: 50%;
      max-width: 100%;
      margin-top: 40px;
    }
    .flex-item-right {
      flex: 50%;
    max-width: 100%;
    }
    
}

.txt-align{
    text-align: left;
}
 .header-style{
  padding-top: 17px; padding-left: 56px;
 }
 @media (max-width: 600px) {
  .header-style{
    padding-left: 0px;
  }
  .checkout-style{
    margin-right: -163px;
    
  }
 
 }

 .checkout-style{
  text-align: center;  
     margin-top: -40px;
 }
 