.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(9, 8, 9), rgb(18, 19, 19));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(11, 12, 12))
    }

    .font-color{
        color: black;
    }


    .form-size{
    border-radius: 1rem;
    background-color: #F5F5F5;
    height: 537px;
    padding-top: 0px;
    flex-direction: row;
    }

    @media(max-width: 1000px) {
        .form-size{
            width: 347px;
           
            height: 433px;
        }
        
      }