.searchsize{
    width: 650px;
    height: 40px;
    border-radius: 5px;
  }
  @media(max-width:1200px) {
    .searchsize{
      width: 384px;
      height: 40px;
    border-radius: 5px;
    }
  }
  
  @media(max-width:1000px) {
    .searchsize{
      width: 250px;
      height: 40px;
    border-radius: 5px;
    }
  }